.navigationBar {
    position: relative;
    background-color: #f1f1f1;
    overflow: hidden;
    height: 0em;
}

.navigationBar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.navigationBar a:hover {
    background-color: #555;
    color: white;
}

/* Responsive */
.navigationBar.responsive {
    height: 10em;
    animation-name: showMenu;
    animation-duration: 0.5s;
}

@keyframes showMenu {
    from {
        height: 0em
    }
    to {
       height: 10em;
    }
}

/* Tablet layout */
@media screen and (min-width: 600px) {
    .navigationBar, .navigationBar.responsive {
        height: auto;
        display: block;
    }
    .navigationBar a {
        float: left;
    }

    .navigationToggle {
        display: none;
    }
}